		<div id='slide'>

			<div style='clear:both;'></div>

			<div id='slide_contenu' class='centrage'>

				<h3>Prise de cours communautaire</h3>

				<ul>
					<li>Participations</li>
					<li>Echanges</li>
					<li>Entraide</li>
				</ul>

				<div id='slide_buttons'>
					<a>En savoir +</a>
					<a href="#bloc_inscription">Inscription</a>
				</div>

			</div>

		</div>

		<section id='presentation'>
			<div class='centrage'>
				<h2>Pr&eacute;sentation</h2>
				<div>
					<h4>BlaBla</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis dignissim risus. Proin ut luctus nulla. Aenean hendrerit ultricies enim, eu euismod sem ultricies a. Nunc convallis lectus nec magna consequat, eget sagittis odio elementum. Donec auctor est justo, aliquam aliquam lectus lobortis sed. Cras ornare, nisl eget gravida varius, mauris justo molestie justo, ac blandit neque lorem id odio. Donec faucibus augue sed augue interdum, ac rhoncus justo tincidunt. Integer rutrum quis diam ut ultricies. Suspendisse molestie aliquet nisi ut varius. Curabitur eleifend, est vitae hendrerit tincidunt, turpis nulla tincidunt diam, eget ornare massa mauris at orci. Suspendisse potenti. Etiam id sapien non leo mollis ornare id eget quam. Vivamus tincidunt nulla sem.
					</p>
				</div>
				<div>
					<h4>ToTo</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis dignissim risus. Proin ut luctus nulla. Aenean hendrerit ultricies enim, eu euismod sem ultricies a. Nunc convallis lectus nec magna consequat, eget sagittis odio elementum. Donec auctor est justo, aliquam aliquam lectus lobortis sed. Cras ornare, nisl eget gravida varius, mauris justo molestie justo, ac blandit neque lorem id odio. Donec faucibus augue sed augue interdum, ac rhoncus justo tincidunt. Integer rutrum quis diam ut ultricies. Suspendisse molestie aliquet nisi ut varius. Curabitur eleifend, est vitae hendrerit tincidunt, turpis nulla tincidunt diam, eget ornare massa mauris at orci. Suspendisse potenti. Etiam id sapien non leo mollis ornare id eget quam. Vivamus tincidunt nulla sem.
					</p>
				</div>
				<div>
					<h4>Pfff</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis dignissim risus. Proin ut luctus nulla. Aenean hendrerit ultricies enim, eu euismod sem ultricies a. Nunc convallis lectus nec magna consequat, eget sagittis odio elementum. Donec auctor est justo, aliquam aliquam lectus lobortis sed. Cras ornare, nisl eget gravida varius, mauris justo molestie justo, ac blandit neque lorem id odio. Donec faucibus augue sed augue interdum, ac rhoncus justo tincidunt. Integer rutrum quis diam ut ultricies. Suspendisse molestie aliquet nisi ut varius. Curabitur eleifend, est vitae hendrerit tincidunt, turpis nulla tincidunt diam, eget ornare massa mauris at orci. Suspendisse potenti. Etiam id sapien non leo mollis ornare id eget quam. Vivamus tincidunt nulla sem.
					</p>
				</div>
			</div>
		</section>

		<section id='img_presentation'>
			<div class='centrage'>
				<div>
					<img alt='image 1'/>
				</div>
				<div>
					<img alt='image 2'/>
				</div>
				<div>
					<img alt='image 3'/>
				</div>
			</div>
		</section>


		<section id='bloc_inscription'>
			<div class='centrage'>
				<div>
					<h2>Inscription</h2>
					<form id="inscription-form">
						<table>
							<tr>
								<td><label for='nom'>Nom:</label><input type='text' name='nom' required/></td>
							</tr>
							<tr>
								<td><label for='prenom'>Prénom:</label><input type='text' name='prenom' required/></td>
							</tr>
							<tr>
								<td><label for='mail'>Email:</label><input type='mail' name='mail' required/></td>
							</tr>
							<tr>
								<td><label for='mail1'>Confirmation:</label><input type='mail' name='mail1'/></td>
							</tr>
							<tr>
								<td><label for='mdp'>Mdp:</label><input type='password' name='mdp' required/></td>
							</tr>
							<tr>
								<td><label for='mdp1'>Confirmation:</label><input type='password' name='mdp1'/></td>
							</tr>
							<tr>
								<td><input type='submit' value='Inscription'/></td>
							</tr>
						</table>
					</form>
				</div>

			</div>
		</section>

		<div style='clear:both;'></div>

	<script type="text/javascript" src="/javascripts/index/index.js"></script>
</html>